@import 'tailwindcss';
@import 'tw-animate-css';
@import '../css/fonts.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-placeholder-gray: var(--placeholder-gray);
  --color-card: var(--card);
  --color-gray-foreground: var(--gray-foreground);
  --color-elevated-dark: var(--elevated-dark);
  --color-elevated-dark: var(--elevated-dark);
  --color-secondary-background: var(--secondary-background);
  --color-charcoal: var(--charcoal);
  --color-light-stone: var(--light-stone);
  --color-lightgray: var(--lightgray);
  --color-platinum: var(--platinum);
  --color-white-smoke: var(--white-smoke);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(75.57% 0.158 318.08); /* #D98DF0 */
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --secondary-background: oklch(88.53% 0 0); /* #D9D9D9 */
  --muted: oklch(75.57% 0.158 318.08); /* #D98DF0 */
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(75.57% 0.158 318.08); /* #D98DF0 */
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(95.81% 0 0);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(75.57% 0.158 318.08); /* #D98DF0 */
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
  --placeholder-gray: oklch(77.31% 0 0); /* #B5B5B5 */
  --gray-foreground: oklch(37.15% 0 0);
  --elevated-dark: oklch(30.92% 0 0); /* #303030 */
  --charcoal: oklch(21.78% 0 0); /* #1A1A1A */
  --light-stone: oklch(81.46% 0.002 67.8); /* #C3C2C1 */
  --platinum: oklch(87.92% 0 0); /* #D7D7D7 */
  --lightgray: oklch(86.69% 0 0); /* #D3D3D3 */
  --white-smoke: oklch(97.02% 0 0); /* #F5F5F5 */
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --secondary-background: oklch(88.53% 0 0); /* #D9D9D9 */
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(21.78% 0 0); /* #1A1A1A */
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(21.78% 0 0); /* #1A1A1A */
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
  --placeholder-gray: oklch(77.31% 0 0); /* #B5B5B5 */
  --gray-foreground: oklch(37.15% 0 0);
  --elevated-dark: oklch(30.92% 0 0);
  --charcoal: oklch(21.78% 0 0); /* #1A1A1A */
  --light-stone: oklch(81.46% 0.002 67.8); /* #C3C2C1 */
  --platinum: oklch(87.92% 0 0); /* #D7D7D7 */
  --lightgray: oklch(86.69% 0 0); /* #D3D3D3 */
  --white-smoke: oklch(97.02% 0 0); /* #F5F5F5 */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  font-family: 'Aspekta', sans-serif;
  font-weight: 500;
}

.column {
  display: flex;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text Styles */

.title-1 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0;
}

.body-1 {
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0;
}

.body-2 {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0;
}

.body-2-tight {
  font-size: 0.875rem; /* 14px */
  line-height: 1rem; /* 16px */
  letter-spacing: 0;
}

.body-2-semibold {
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0;
}

.body-3-semibold {
  font-size: 1rem; /* 16px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: 0;
}

.body-2-loose {
  font-size: 0.875rem; /* 14px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0;
}
